$colorUpa: #fa9300;
$colorDowna: #fa6a00;

$colorUp: #84c5fa;
$colorDown: #327cfa;
$colorFg: #a3ebf8;

input[type=number], select[type=number], textarea[type=number] {
  padding-right: 0;
}

button:focus {
  outline: 0;
}

.field_mfx_wrapper {
  display: block;

  .layer_1 {
    display: block;
  }

  .box_nfx {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 40px;
    height: 40px;

    z-index: 1;

    // @include shadow_c(0, 0, 1px, rgb(8, 0, 203));


  }

}

.desktop-layout {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.playfield {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column;
}

/**
3d button UI
 */


$btn-box-height: 3px;

@mixin claw_machine_button_style_ex1($color) {
  box-shadow: 0 0 50px 3px $color inset,
  0 0 0 1px $color inset,
  0 0 0 ($btn-box-height / 4) rgba(255, 255, 255, 0.15) inset,
  0 0 0 1px rgba(0, 0, 0, 0.4);
}

@mixin button_face_up() {
  color: #f6e974;
  background-color: #937527;
  box-shadow: 0 0 50px 3px #6a5b1b inset,
  0 0 0 ($btn-box-height / 4) rgba(255, 255, 255, 0.15) inset,
  0 $btn-box-height 0 0 #a28428,
  0 $btn-box-height 0 1px rgba(0, 0, 0, 0.4),
  0 $btn-box-height $btn-box-height 1px rgba(0, 0, 0, 0.5)
}

@mixin button_face_up_new($a,$b,$c,$d) {
  color: $a;
  background-color: $b;
  box-shadow: 0 0 50px 3px $c inset,
  0 0 0 ($btn-box-height / 4) rgba(255, 255, 255, 0.15) inset,
  0 $btn-box-height 0 0 $d,
  0 $btn-box-height 0 1px rgba(0, 0, 0, 0.4),
  0 $btn-box-height $btn-box-height 1px rgba(0, 0, 0, 0.5)
}

@mixin activeButton() {
  transform: translate3d(0, $btn-box-height + 1, 0);
  -webkit-transform: translate3d(0, $btn-box-height + 1, 0);
}

@mixin btn3dbase() {

  display: inline-block;
  /* 自适应 */
  //padding: 1rem 2rem;
  /* 自适应 */
  /* 固定宽高 */

  /* 固定宽高 */
  color: #fff;
  font-size: 1.5rem;
  border-radius: .5rem;
  margin: 5px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &.big {
    width: 12rem;
    height: 5rem;
    line-height: 5rem;
  }

  &.small {
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
  }

  &.dyn {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 3rem;
    line-height: 3rem;
  }

  &:active, &.disabled {
    @include activeButton;
  }
}

@mixin btn3dRed() {

  background-color: #e71d13;
  box-shadow: 0 0 0 1px #c63702 inset,
  0 0 0 ($btn-box-height / 4) rgba(255, 255, 255, 0.15) inset,
  0 $btn-box-height 0 0 #C24032,
  0 $btn-box-height 0 1px rgba(0, 0, 0, 0.4),
  0 $btn-box-height $btn-box-height 1px rgba(0, 0, 0, 0.5);
  color: #f8c3b8;
  text-shadow: #e2664f 0px 0px 15px,
  #bc4532 0px 0px 45px,
  #7a2b30 0px 0px 65px,
  #432324 0px 0px 75px;

  &:active {
    @include claw_machine_button_style_ex1(#c63702);
  }

  &.disabled {
    color: #b44b4d;
    text-shadow: #8f2423 0px 0px 25px,
    #a72a29 0px 0px 45px,
    #b52e2c 0px 0px 65px,
    #c93331 0px 0px 75px;

    background-color: #661c01;
    @include claw_machine_button_style_ex1(#661c01);
  }

}

@mixin btn3dGreen() {
  background-color: #005600;
  box-shadow: 0 0 0 1px #003300 inset,
  0 0 0 ($btn-box-height / 4) rgba(255, 255, 255, 0.15) inset,
  0 $btn-box-height 0 0 #003f00,
  0 $btn-box-height 0 1px rgba(0, 0, 0, 0.4),
  0 $btn-box-height $btn-box-height 1px rgba(0, 0, 0, 0.5);

  text-shadow: #6aff82 0px 0px 25px,
  #5bd66f 0px 0px 45px,
  #3c8d49 0px 0px 65px,
  #25562d 0px 0px 75px;

  &:active {
    @include claw_machine_button_style_ex1(#004000);
  }

  &.disabled {
    background-color: #001b00;
    @include claw_machine_button_style_ex1(#001b00);
    color: #318d57;

    text-shadow: #409b53 0px 0px 20px,
    #307440 0px 0px 45px,
    #25562d 0px 0px 65px,
    #1d4424 0px 0px 75px;
  }

}

@mixin btn3dBlue() {
  text-shadow: #45747a 0px 0px 25px,
  #334957 0px 0px 45px,
  #0070b8 0px 0px 65px,
  #78accb 0px 0px 75px;

  @include button_face_up_new(#294549, #96d4ff, #0070b8, #78accb);

  &:active {
    @include claw_machine_button_style_ex1(#1d81b8);
    text-shadow: 1px 1px 10px 10px #2395c9;
    color: #6fc1f6;
  }

  &.disabled {
    background-color: #49626e;
    color: #427995;
    text-shadow: 1px 1px 20px #183b67;
    @include claw_machine_button_style_ex1(#08486e);
  }


}

@mixin btn3dGold() {

  text-shadow: #c3a947 0px 0px 25px,
  #c2940a 0px 0px 45px,
  #a6822b 0px 0px 65px,
  #e9bd37 0px 0px 75px;

  @include button_face_up;

  &:active {
    @include claw_machine_button_style_ex1(#6a5b1b);
    text-shadow: 1px 1px 10px 10px #987507;
    color: #f6e974;
  }

  &.disabled {
    background-color: #473504;
    color: #6e5307;
    text-shadow: 1px 1px 20px #674e06;
    @include claw_machine_button_style_ex1(#292707);
  }

}

