//@import "../presents/base";
.box_nfx {
  margin: 1px;
  border: 1px solid #222;
  @include btn3dbase;
  @include btn3dGreen;

  span {
    font-size: 14px;
    color: #ffffff;
    align-self: center;
    justify-self: center;
    width: 100%;
  }


  &.highlight {
    @include claw_machine_button_style_ex1(#73ff4a);
    @include activeButton;

    span {
      color: #c61616;
    }
  }


  &.reward {
    background-color: #73ff4a;
  }

}
