$btn-box-height: 8px;
$cover_bg_x: rgba(52, 29, 22, 0.86);
$cover_bg_x2: rgba(0, 75, 123, 0.86);


$textex: #dafffc;
$textcolorg: #6db7c1;
$textcolorglow: #93f2ff;

.ice {
  color: $textcolorg;
}

.flexcontainx {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;

  .section_b_title {
    padding-left: 10px;
    font-size: 9px;
  }

  /* .vip_number {
     position: absolute;
     top: 50px;
     left: 10px;
     width: 130px;
     font-size: 11px;
   }*/
  // Basic styling for flex items
  .flexhitem {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    order: 100;
    text-align: center;
  }

  // Defaults for both grid/list
  &.grid,
  &.list {
    .flexhitem {
      &.flex-banner {
        flex: 0 1 100%;
      }

      // Manually order each flexbox item
      // as Flexbox sets an order of 0 by default
      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 6;
      }

      &:nth-child(7) {
        order: 7;
      }

      &:nth-child(8) {
        order: 8;
      }

      &:nth-child(9) {
        order: 9;
      }

      &:nth-child(10) {
        order: 10;
      }

      // Increase nth-childs depending on your grid...
    }
  }

  //..
  &.grid {
    flex-direction: row;

    .flexhitem {
      flex: 0 0 25%;

      &.flex-banner {
        order: 8;
      }
    }
  }

  //..
  &.list {
    flex-direction: column;

    .flexhitem {
      flex: 0 0 100%;

      &.flex-banner {
        order: 4;
      }
    }
  }
}

.container_oke {
  color: #ffb734;

  .session_back_color_deepblue {
    background-color: $cover_bg_x2;
    padding-top: 10px;
    padding-bottom: 90px;
  }

  .control_face_cover {
    background-color: $cover_bg_x;
    padding-top: 10px;
    padding-bottom: 90px;
  }

  .control_inclusive {
    padding-top: 10px;
    padding-bottom: 90px;
    background-color: $cover_bg_x2;

    .pad_area {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .section_title {
        width: auto !important;
        font-size: 10px;
        margin-left: 10px;
        display: block;
        background: red;
        line-height: 20px;
        padding: 0;
        align-self: center;
      }
    }
  }
}

.container_surivialcity {
  color: #73ff4a;

  .session_back_color_deepblue {
    background-color: $cover_bg_x2;
    padding-top: 10px;
    padding-bottom: 90px;
  }

  .control_face_cover {
    background-color: $cover_bg_x;
    padding-top: 10px;
    padding-bottom: 90px;
  }

  .control_inclusive {
    padding-top: 10px;
    padding-bottom: 90px;
    background-color: $cover_bg_x2;

    .pad_area {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .section_title {
        width: auto !important;
        font-size: 10px;
        margin-left: 10px;
        display: block;
        background: red;
        line-height: 20px;
        padding: 0;
        align-self: center;
      }
    }
  }
}


@media (max-width: 600px) {
  .flexcontainx {
    &.grid,
    &.list {
      flex-direction: column;

      .flexhitem {
        flex: 0 0 100%;

        &.flex-banner {
          order: 4;

          .rcontrollist {
            flex-wrap: wrap;
            order: 3;
          }
        }
      }
    }
  }
}
