<template>
  <div
    class="field_mfx_wrapper"
    :style="{height: `${lvl1h * (boxLength) }px`, width: `${(boxLength) * lvl1w }px` }"
  >
    <div class="toplayer">
      <html-cell
        v-for="(b,u) in grams"
        :ref="cellIndex(u)"
        :x="b.x"
        :y="b.y"
        :i="b.i"
        :label="label(u)"
        @selected="cellCallSelect"
        @error_locked="errorLocked"
      />
    </div>
    <div class="midlayer">
      <slot name="midlayer" />
    </div>
    <div class="bottomlayer">
      <slot name="bottomlayer" />
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import HtmlCell from "./HtmlCell"
// eslint-disable-next-line import/named
//import {shuffle} from "../util/tool"
// eslint-disable-next-line import/extensions
import mixinsMineMatrix from "../util/mixinsMineMatrix"
// eslint-disable-next-line import/extensions
export default {
  name: "Central",
  components: {
    HtmlCell
  },
  mixins: [mixinsMineMatrix],
  props: {
    lvl1m: {
      type: Number,
      required: false
    },
    maxPicked: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      fieldMatrix: [],
      grams: [],
      playLock: false,
      picked: []
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.setup()
    })
  },
  methods: {
    load(payload) {
      if (payload instanceof Array) {
        this.picked = payload
        for (let i = 0; i < this.picked.length; i++) {
          const ref = this.cellIndex(this.grams[this.picked[i]].i)
          this.$refs[ref][0].forceOn()
        }
      } else {
        console.log("not array")
      }
      if (payload.length > this.maxPicked) {
        this.$emit("exceed_max_picked")
      }
    },
    cellCallSelect(numb) {
      const n = parseInt(numb)
      const index = this.picked.indexOf(n)
      if (index > -1) {
        this.picked.splice(index, 1)
      } else {
        this.picked.push(n)
      }
      this.$emit("update_list", this.picked)
      if (this.picked.length >= this.maxPicked) {
        this.setChildrenLocked(true)
      }
      if (this.picked.length === (this.maxPicked - 1)) {
        this.setChildrenLocked(false)
      }
    },
    errorLocked() {
      this.$emit("error_locked")
    },
    cellIndex(n) {
      return `C${n}`
    },
    label(n) {
      return `${n + 1}`
    },
    reset() {
      for (let i = 0; i < this.grams.length; i++) {
        const ref = this.cellIndex(this.grams[i].i)
        this.$refs[ref][0].forceOff()
      }
      this.picked = []
    },
    setDisabled(boo) {
      for (let i = 0; i < this.grams.length; i++) {
        const ref = this.cellIndex(this.grams[i].i)
        this.$refs[ref][0].forceDisable(boo)
      }
    },
    setChildrenLocked(boo) {
      for (let i = 0; i < this.grams.length; i++) {
        const ref = this.cellIndex(this.grams[i].i)
        const el = this.$refs[ref][0]
        el.setlock(boo)
      }
      this.$emit("locked", boo)
    }
  }
}
</script>
<!-- manually adding this
<style lang="scss">
@import "../presents/base";
@import "../presents/xixi";
</style>
-->
