<template>
  <button
    :data-column="c"
    :data-row="r"
    :class="classObject"
    class="box_nfx"
    @click="mark"
  >
    <span>{{ label }}</span>
  </button>
</template>

<script>

export default {
  name: "HtmlCell",
  props: {
    x: {
      type: Number,
      required: true
    },
    y: {
      type: Number,
      required: true
    },
    i: {
      type: Number,
      required: true
    },
    label: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      c: this.y,
      r: this.x,
      selected: false,
      classObject: {
        highlight: false,
        disabled: false,
        bombflagged: false,
        flaggedwin: false,
        bomb: false
      },
      isLocked: false
    }
  },
  mounted() {
    this.$nextTick(() => {

    })
  },
  methods: {
    mark() {
      if (this.selected === false && this.isLocked) {
        this.$emit("error_locked")
        return
      }
      this.selected = !this.selected
      if (this.selected) {
        this.classObject.highlight = true
      } else {
        this.classObject.highlight = false
      }
      this.$emit("selected", this.i + 1)
    },
    setlock(b) {
      this.isLocked = b
    },
    forceDisable(boo) {
      this.classObject.disabled = boo
    },
    forceOff() {
      this.classObject.highlight = false
    },
    forceOn() {
      this.classObject.highlight = true
    }
  }
}
</script>
