<template>
  <div id="app">
    <central
      ref="pickmatrix"
      :lvl1w="8"
      :lvl1h="5"
      :box-length="40 + 10"
      :max-picked="max_pick"
      @update_list="setlist"
    />

    <p>
      <span> {{ datasetc }}</span>
    </p>
    <p>
      MAX {{ max_pick }}
    </p>
    <p>
      <button @click="lock">
        LOCK
      </button>
      <button @click="unlock">
        UNLOCK
      </button>
      <button @click="loade">
        LOAD
      </button>
      <button @click="reset">
        CLEAR
      </button>
      <button @click="disabledOn">
        DISABLED ON
      </button>
      <button @click="disabledOff">
        DISABLED OFF
      </button>
    </p>
  </div>
</template>
<style lang="scss">
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import "../presents/base";
@import "../presents/xixi";
</style>

<script>
// eslint-disable-next-line import/extensions
import Central from "../components/Central"

export default {
  name: "App",
  components: {
    Central
  },
  data: () => ({
    code: "",
    messsage: "",
    iserror: false,
    max_pick: 6,
    datasetc: [21, 22, 11],
    audio: {
      bellhit: new Audio("https://freesound.org/people/minerjr/sounds/89977/download/89977__minerjr__ballhit.wav"),
      gem: new Audio("http://adrianpayne.me/game/assets/sounds/gem.mp3"),
      pop2: new Audio("http://adrianpayne.me/game/assets/sounds/pop2.mp3"),
      pop1: new Audio("http://adrianpayne.me/game/assets/sounds/pop1.mp3"),
      loop1: new Audio("https://freesound.org/people/deleted_user_4338788/sounds/263377/download/263377__deleted-user-4338788__paddling-in-lake-sukamakaka.mp3")
    },
  }),
  mounted() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.loade()
      }, 0)
    })
  },
  methods: {
    lock() {
      let t = this.$refs["pickmatrix"]
      t.setChildrenLocked(true)
    },
    unlock() {
      let t = this.$refs["pickmatrix"]
      t.setChildrenLocked(false)
    },
    setlist(items) {
      this.datasetc = items
    },
    triError() {
      let t = this.$refs["pickmatrix"]
      this.iserror = !this.iserror
      t.setError(this.iserror)
    },
    loade() {
      let t = this.$refs["pickmatrix"]
      t.load(this.datasetc)
    },
    reset() {
      let t = this.$refs["pickmatrix"]
      t.reset()
    },
    disabledOn() {
      let t = this.$refs["pickmatrix"]
      t.setDisabled(true)
      t.setChildrenLocked(true)
    },
    disabledOff() {
      let t = this.$refs["pickmatrix"]
      t.setDisabled(false)
      t.setChildrenLocked(false)
    }
  }
}
</script>
